<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <meta name="author" content="Marc Tatchou">

    <meta name="description" content="Code Promotionel B5511 ! ">
    <meta property="og:site_name" content="BarrySport">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{{ asset('asset/images/logo9.png') }}">
    <meta name="twitter:title" property="og:title" itemprop="name" content="Barrysport - Nous proposons un code promotionnel unique pour 4 bookmakers">
    <meta name="twitter:description" property="og:description" itemprop="description" content="Notre code promotionnel * B555 * vous recevrez une multitude de bonus après inscriptions sur 1xbet, betWinner, LineBet, 1Win, Melbet.">

    <title>{% block title %}Coupons B5511 -{% endblock %} | Administration</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('asset/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/vendors/base/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ asset('asset/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ asset('asset/images/logo9.png') }}" />
</head>
<body>
{% if(app.user) %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo"><img src="{{ asset('asset/images/logo.svg') }}" alt="logo"/></a>
                    <a class="navbar-brand brand-logo-mini"><img src="{{ asset('asset/images/logo-mini.svg') }}" alt="logo"/></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="{{ asset('asset/images/logo9.png') }}" alt="profile"/>
                            <span class="nav-profile-name">{{ app.user.name | capitalize }} </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{{ path('reset_password') }}">
                                <i class="mdi mdi-settings text-primary"></i>
                                Modifier le mot de passe
                            </a>
                            <a href="{{ path('logout') }}" class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                Deconnexion
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="mdi mdi-basketball menu-icon"></i>
                            <span class="menu-title">Coupons</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('coupon') }}">
                                        <i class="mdi mdi-view-list menu-icon"></i>
                                        <span class="menu-title">Tous</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('new_coupon') }}">
                                        <i class="mdi mdi-new-box menu-icon"></i>
                                        <span class="menu-title">Nouveau</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('email') }}">
                            <i class="mdi mdi-email menu-icon"></i>
                            <span class="menu-title">Emails</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="mdi mdi-account menu-icon"></i>
                            <span class="menu-title">Administration</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                {% if app.user.roles == ["ROLE_ADMIN"] %}
                                <li class="nav-item"> <a class="nav-link" href="{{ path('register') }}"> <i class="mdi mdi-new-box menu-icon"></i>Nouveau</a></li>
                                {% endif %}
                                <li class="nav-item"> <a class="nav-link" href="{{ path('logout') }}"> <i class="mdi mdi-logout menu-icon"></i>Deconnexion</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="mr-md-3 mr-xl-5">
                                        <h2>Bienvenue, {{ app.user.name | capitalize }} !</h2>
                                    </div>
                                    <div class="d-flex">
                                        <i class="mdi mdi-home text-muted hover-cursor"></i>
                                        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Tableau bord&nbsp;/&nbsp;</p>
                                        <p class="text-primary mb-0 hover-cursor">{% block page %}Acceuil{% endblock %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body dashboard-tabs p-0">
                                    <ul class="nav nav-tabs px-4" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Statistiques</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content py-0 px-0">
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                            <div class="d-flex flex-wrap justify-content-xl-between">
                                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-basketball mr-3 icon-lg text-danger"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1 text-muted">Coupons</small>
                                                        <h5 class="mr-2 mb-0">{{ coupons | length }} </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-email mr-3 icon-lg text-warning"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1 text-muted">Emails</small>
                                                        <h5 class="mr-2 mb-0">{{ emails | length }} </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-account mr-3 icon-lg text-danger"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1 text-muted">Administrateurs</small>
                                                        <h5 class="mr-2 mb-0">{{ users | length }} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block body %}

                    {% endblock %}
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©  <a href="https://wa.me/23756450734" target="_blank">Marc Analytica</a>. Tous droits reservés.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
{% else %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-transparent text-left p-5 text-center">
                            <img src="{{ asset('asset/images/logo9.png') }}" class="lock-profile-img" alt="img">
                            <form class="pt-5">
                                <div class="mt-5">
                                    <a class="btn btn-block btn-success btn-lg font-weight-medium" href="{{ path('login') }}">Se connecter</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
{% endif %}
{% block javaScript %} {% endblock %}

<!-- plugins:js -->
<script src="{{ asset('asset/vendors/base/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{{ asset('asset/vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ asset('asset/vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ asset('asset/vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{{ asset('asset/js/off-canvas.js') }}"></script>
<script src="{{ asset('asset/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('asset/js/template.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ asset('asset/js/dashboard.js') }}"></script>
<script src="{{ asset('asset/js/data-table.js') }}"></script>
<script src="{{ asset('asset/js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('asset/js/dataTables.bootstrap4.js') }}"></script>
<!-- End custom js for this page-->
</body>

</html>


